$white: #fff;
$gray: #cbcbcb;

$primary: #004d61;
$secondary: #ff5031;
$tertiary: #dee9ea;
$disabled-color: #c0c0c0;
$success: #47a138;

$primary-action: #0a2e36;
$secondary-action: #d5604c;
$tertiary-action: #83bbc0;

$primary-ghost: #024d6080;

$typography-default: #000000;
$typography-active: #024d60;
$typography-secondary: #fff;
$typography-disabled: #dee9ea;
$typography-placeholder: #444444;
$typography-error: #dc3545;
