// Variáveis globais do Design System
$page-background: #e1e8e0;
$color-blue: #004d61;
$color-orange: #ff5031;
$color-grey: #dee9ea;
$color-white: #f8f8f8;
$color-green: #e4ede3;
$button-padding: 16px 30px;
$button-padding-mobile: 6px 15px;
$button-radius: 8px;
$action-padding: 10px;
$action-radius: 100%;
$avatar-padding: 8px;
$avatar-radius: 100%;
$header-padding: 20px 0;
$input-padding: 16px;
$input-radius: 8px;
